.App {
  text-align: center;
}

.heading {
  color: #adb9e2;
}

.search-bar {
  padding: 0.7rem 1.2rem;
  border-radius: 5px;
  border: none;
  font-size: large;
  position: relative;
  font-weight: bold;
  top: -60px;
  left: 40%;
  transform: translate(-50%);
  opacity: 0.8;
  background-color: #212121;
  color: #adb9e2;
  z-index: -10;
}

.search-bar::placeholder {
  color: #adb9e2;
}

.search-bar:focus {
  outline: none;
}

.search-icon {
  position: relative;
  top: -93px;
  left: 87px;
  opacity: 0.8;
  color: #adb9e2;
  font-size: 19px;
  cursor: pointer;
}

.react-canvas:focus {
  outline: none;
}

.canvas-container {
  width: 88%;
  margin: auto;
  border-radius: 20px;
}

.drop-down {
  opacity: 0.8;
  margin-left: -26px;
  margin-top: -80px;
}

.drop-down li,
.not-found {
  list-style: none;
  padding: 0.7rem 1.5rem;
  width: 224px;
  text-align: left;
  font-weight: bold;
  color: #adb9e2;
  border-left: 5px #6476f5 solid;
  cursor: pointer;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.795);
}

.drop-down li:hover,
.not-found:hover {
  background-color: #adb9e2;
  border-left: 5px #3140a3 solid;
  color: #212121;
}

.relative {
  position: relative;
}

.close {
  position: absolute;
  left: 240px;
  top: -73px;
  color: #212121;
  opacity: 1;
  font-size: 23px;
}
