.App {
  text-align: center;
}

h1 {
  color: #adb9e2;
}

.search-bar {
  padding: 0.7rem 1.2rem;
  border-radius: 5px;
  border: none;
  font-size: large;
  position: absolute;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-10%, 30%);
  opacity: 0.8;
  background-color: #212121;
  color: #adb9e2;
  pointer-events: all;
}

.search-bar::placeholder {
  color: rgba(255, 255, 255, 0.795);
  color: #adb9e2;
}

.search-bar:focus {
  outline: none;
}

.search-icon {
  position: relative;
  top: 33px;
  left: 220px;
  opacity: 0.8;
  color: #adb9e2;
  font-size: 18px;
}

.react-canvas:focus {
  outline: none;
}

.canvas-container {
  width: 88%;
  margin: auto;
  border-radius: 20px;
}
